<div class="container">
  <h1>My articles</h1>
  <%= link_to "Add new article", new_article_path, class: "btn btn-primary" %>
  <div>
    <ul class="list-group">
      <% @articles.each do |article| %>
        <li class="list-group-item">
          <label for="article"><%= link_to article.title, article_path(article) %></label>
          <p><%= link_to article.text, article_path(article) %></p>
          <%= link_to 'Edit', edit_article_path(article), class: "btn btn-primary" %>
          <%= link_to "Delete", article_path(article),
              method: :delete,
              remote: true,
              data: { turbo_confirm: "Are you sure?", turbo_method: :delete },
              class: "btn btn-secondary" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
